//! **************************************************************************
// Written by: Map P.20131013 on Sun Dec 20 12:14:26 2015
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "AL10" LEVEL 1;
COMP "rst" LOCATE = SITE "U25" LEVEL 1;
COMP "D<0>" LOCATE = SITE "AB8" LEVEL 1;
COMP "D<1>" LOCATE = SITE "AC8" LEVEL 1;
COMP "D<2>" LOCATE = SITE "AN12" LEVEL 1;
COMP "D<3>" LOCATE = SITE "AP12" LEVEL 1;
COMP "D<4>" LOCATE = SITE "AA9" LEVEL 1;
COMP "D<5>" LOCATE = SITE "AA8" LEVEL 1;
COMP "D<6>" LOCATE = SITE "AM13" LEVEL 1;
COMP "D<7>" LOCATE = SITE "AN13" LEVEL 1;
COMP "D<8>" LOCATE = SITE "AA10" LEVEL 1;
COMP "D<9>" LOCATE = SITE "AB10" LEVEL 1;
COMP "clk_100mhz" LOCATE = SITE "AH15" LEVEL 1;
COMP "br_cfg<0>" LOCATE = SITE "AC25" LEVEL 1;
COMP "br_cfg<1>" LOCATE = SITE "AC24" LEVEL 1;
COMP "D<10>" LOCATE = SITE "AP14" LEVEL 1;
COMP "D<11>" LOCATE = SITE "AN14" LEVEL 1;
COMP "keyboard_serial_in" LOCATE = SITE "AG15" LEVEL 1;
COMP "blank" LOCATE = SITE "AE8" LEVEL 1;
COMP "clk_n" LOCATE = SITE "AL11" LEVEL 1;
COMP "hsync" LOCATE = SITE "AM12" LEVEL 1;
COMP "dvi_rst" LOCATE = SITE "AK6" LEVEL 1;
COMP "vsync" LOCATE = SITE "AM11" LEVEL 1;
COMP "sda_tri" LOCATE = SITE "T29" LEVEL 1;
COMP "scl_tri" LOCATE = SITE "U27" LEVEL 1;
COMP "keyboard_serial_out" LOCATE = SITE "AG20" LEVEL 1;
COMP "GPIO_LED_0" LOCATE = SITE "H18" LEVEL 1;
COMP "GPIO_LED_1" LOCATE = SITE "L18" LEVEL 1;
COMP "GPIO_LED_2" LOCATE = SITE "G15" LEVEL 1;
COMP "GPIO_LED_3" LOCATE = SITE "AD26" LEVEL 1;
COMP "GPIO_LED_4" LOCATE = SITE "G16" LEVEL 1;
COMP "GPIO_LED_5" LOCATE = SITE "AD25" LEVEL 1;
COMP "GPIO_LED_6" LOCATE = SITE "AD24" LEVEL 1;
COMP "GPIO_LED_7" LOCATE = SITE "AE24" LEVEL 1;
PIN sda_tri_OBUFT_pins<1> = BEL "sda_tri_OBUFT" PINNAME OUT;
PIN scl_tri_OBUFT_pins<1> = BEL "scl_tri_OBUFT" PINNAME OUT;
PIN "sda_tri_OBUFT_pins<1>" TIG;
PIN "scl_tri_OBUFT_pins<1>" TIG;
SCHEMATIC END;

